/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap");
/*
400 ou 700
font-family: 'Baloo 2', cursive;
*/

/* Global rules */
* {
  box-sizing: border-box;
}
body {
  font-family: "Baloo 2", cursive;
  font-weight: 400;
}
.wrapper {
  width: 80vw;
  margin: 0 auto;
}
a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  background-color: white;
  border-radius: 2px;
  color: #ff7f50;
}
h1 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 10vh 0;
  color: #ff7f50;
}
.hidden {
  visibility: hidden;
}
/* Form */

/* .wrapper {
  height: 95vh;
} */
form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 350px;
  margin-bottom: 50px;
}
form label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}
form input {
  display: inline-block;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgb(233, 230, 230);
}
form input:not(:last-child) {
  margin-bottom: 20px;
}
form input:last-child {
  background-color: #ff7f50;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}
form input:last-child:hover {
  opacity: 80%;
}

/* Result */
.wrap-info {
  display: flex;
  flex-direction: column;
}
.result {
  background-color: #ffbea4;
  border: 2px solid #ff7f50;
  border-radius: 8px;
  width: 400px;
  margin: 0 auto;
  padding: 30px;
}
.result p {
  margin-bottom: 20px;
  color: rgb(75, 75, 75);
}
.result span {
  font-weight: 700;
  display: inline-block;
  margin-right: 5px;
  color: black;
}
.edit {
  background-color: #ff7f50;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 0 auto;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: 700;
  width: 200px;
  cursor: pointer;
}
.edit:hover {
  opacity: 80%;
}

/* Footer */
footer {
  text-align: center;
  font-size: 12px;
  height: 8vh;
  line-height: 8vh;
  background-color: #ffbea4;
}
